.total-container {
  width: 80%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 2px #d3d3d3;
  border-radius: 5px;

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: relative;
    box-shadow: 1px 1px 10px 2px #d3d3d3;
    animation-name: card-anim;


    .fold {
      position:absolute;

      border-style: solid;

      &.bottom {
        bottom: 0;
        right: 0;
        border-top-left-radius: 12px;
        border-width: 30px 30px 0 0;
        box-shadow: -4px 2px 13px 1px #d3d3d3;
        //border-color: lightgrey white white white;
        border-color: darken(lightgrey, 20%) #eaeaea;
      }
    }
    .card-header {
      font-size: 20px;
      color: #00f;
      letter-spacing: 1px;
    }
    .card-body {
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 1px;
    }
    &.Confirmed {
      margin-bottom: 10px;
      color: #696969;
    }
    &.Recovered {
      margin-bottom: 10px;
      color: #8ACA2B;
    }
    &.Critical {
      margin-bottom: 10px;
      color: #696969;
    }
    &.Death {
      color: #F65164;
    }
  }
}

@keyframes card-anim {
  from {
    border: 1px solid #d3d3d3;
  }
  to {
    border: 1px solid #8ACA2B;
  }
}

@media only screen and (max-width: 960px) {
  .total-container {
    width: 100% !important;
    margin-bottom: 20px;
    .card-container {
      display: flex;
      flex-direction: row;
    }
  }
}
